*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg);
}

:root {
  --font-display: "Space Grotesk", system-ui, sans-serif;
  --font-body: "Inter", system-ui, sans-serif;
  --color-background: #FBF8FF;
  --color-primary: ##A78BFA;
  --color-secundary: #C4B5FD;
  --color-accent: #7C3AED;
  --color-text: #312E81;
}


